.title-up{
  vertical-align:100%;
  margin: 0 20px;
  position: absolute;
}
.title-down
{
  vertical-align:100%;
  margin: 0 20px;
  position: absolute;
}
.circle-one {
  background-color:rgb(255, 117, 117);
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
}
.circle-two {
  background-color:rgb(244, 255, 145);
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
}
.circle-big {
  background-color:rgb(244, 255, 145);
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 50%;
}